<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.3.3" targetFramework="net45" />
  <package id="Fody" version="4.2.1" targetFramework="net45" developmentDependency="true" />
  <package id="Grasshopper" version="6.17.19235.15041" targetFramework="net45" />
  <package id="Microsoft.Kinect" version="2.0.1410.19000" targetFramework="net45" />
  <package id="OpenCvSharp4" version="4.1.1.20191021" targetFramework="net45" />
  <package id="OpenCvSharp4.runtime.win" version="4.1.1.20191021" targetFramework="net45" />
  <package id="RhinoCommon" version="6.17.19235.15041" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net45" />
</packages>