<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net46" />
  <package id="Fody" version="6.0.5" targetFramework="net46" developmentDependency="true" />
  <package id="Grasshopper" version="6.20.19322.20361" targetFramework="net46" />
  <package id="Microsoft.Kinect" version="2.0.1410.19000" targetFramework="net45" />
  <package id="OpenCvSharp4" version="4.1.1.20191110" targetFramework="net46" />
  <package id="OpenCvSharp4.runtime.win" version="4.1.1.20191110" targetFramework="net46" />
  <package id="RhinoCommon" version="6.20.19322.20361" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net46" />
</packages>